name: Update README Activity

on:
  schedule:
    - cron: '*/30 * * * *' # Ejecuta cada 30 minutos
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      
      # CAMBIAR DE @v2 A @v1
      - uses: JasonEtco/activity-box@v1 
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
